<div class="centered-container">
<mat-card class="create-blog-card">

  <mat-card-content>
    <form (ngSubmit)="onSubmit()" >
      <mat-form-field >
        <input matInput placeholder="Title" name="title" [(ngModel)]="formData.title" required>
      </mat-form-field>

      <mat-form-field >
        <textarea matInput placeholder="Content" name="content" [(ngModel)]="formData.content" [maxlength]="1000" required></textarea>
      </mat-form-field>


        <label for="fileInput" class="file-label">Choose an Image</label>
        <input
          type="file"
          id="fileInput"
          class="file-input"
          (change)="onFileSelected($event)"
          accept=".jpg, .png"
        >
      {{filename}}
  <br>

      <button type="submit" mat-raised-button color="primary" >Post</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
