
<div class="bootstrap-wrapper">
  <div class="container mt">
    <div class="row">
      <div class="col-md-6 offset-md-3">

          <h1 class="text-center" style="color:#673ab7; margin-bottom:5%; font-size: 50px; ">IDeaS Insights</h1>

        <form (ngSubmit)="login()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput required name="email" [(ngModel)]="credentials.email"/>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput required name="password" [(ngModel)]="credentials.password"/>
          </mat-form-field>

          <div class="text-center">
            <button type="submit" mat-raised-button color="primary" >Login</button>
          </div>
          <hr style="margin-top:5%">
          <div class="text-center">
           Not Registered Yet? <button routerLink="/register" mat-flat-button color="basic" >Register Here</button>

          </div>

        </form>
      </div>
    </div>
  </div>






