mat-card{
 background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 padding:20px

}


.user-details-content {
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-bottom: 10px;
}


.user-details-field {
  margin-bottom: 10px;
}


.user-details-value {
  margin-left: 10px;
}

