<mat-card class="user-details-card">
  <mat-card-content class="user-details-content">
    <!--        <mat-icon color="primary">person_pin </mat-icon>-->
    <div class="user-details-field">
      <span class="material-icons" style="border-style: solid; border-radius: 50%; border-width: 3px; padding: 6px;color:#673ab7;font-size:40px;"> person </span>
    </div>
    <div class="user-details-field">
      <span class="user-details-label">User :</span>
      <span class="user-details-value">{{ user }}</span>
    </div>
    <div class="user-details-field">
      <span class="user-details-label">Total Posts : </span>
      <span class="user-details-value"> </span>
    </div>
    <!-- Add more user details fields as needed -->
  </mat-card-content>
</mat-card>

