<div class="bootstrap-wrapper " xmlns="http://www.w3.org/2000/svg">
  <div class="blog-list">
    <mat-card *ngFor="let posts of blogPosts" class="blog-card">
        <mat-card-header>
          <span class="material-icons" style="border-style: solid; border-radius: 50%; border-width: 2px; padding: 3px;color:#673ab7;font-size:25px; margin-right:10px;"> person </span>
          &nbsp;{{this.posts.user.name}}<br>{{formatDate(posts.createdDate)}}<span class="spacer"></span>
          <button type="submit" mat-icon-button color="primary"  aria-label="Edit Post" *ngIf="isMyProfilePage" (click)="updatePost(this.posts)">
            <mat-icon color="primary" >edit</mat-icon></button>
          <button type="submit" mat-icon-button color="primary"  aria-label="Delete Post" *ngIf="isMyProfilePage" (click)="deletePostById(this.posts.postId)"  >
            <mat-icon color="primary" >delete</mat-icon></button>
        </mat-card-header>

        <mat-card-title class="blog-title">{{this.posts.title }}</mat-card-title>

<!--      <img mat-card-lg-image [src]="'http://localhost:8081' + this.posts.image" alt="Post Image" class="post-image"  style="  background-size: cover;"/>-->

      <mat-card-content class="blog-content" >
                <p>{{ this.posts.content }}</p>

        </mat-card-content>

      <img mat-card-image [src]="'http://localhost:8081' + this.posts.image" alt="Post Image">


      <!--     <div class="image-wrapper">-->
<!--      </div>-->


      <mat-card-footer>
        <button class="icons" type="button" mat-button (click)="like(this.posts.postId,1)"  [style.color]="this.posts.likedByUser ? '#673ab7' : 'rgba(0,0,0,0.5)'" ><mat-icon >thumb_up</mat-icon>{{this.posts.totLikes}}</button>
        <button class="icons" type="button" mat-button (click)="heart(this.posts.postId,2)" [style.color]="this.posts.heartByUser ? '#673ab7' : 'rgba(0,0,0,0.5)'" > <mat-icon>favorite</mat-icon>{{this.posts.totHearts}}</button>
        <button class="icons" type="button" mat-button (click)="celebrate(this.posts.postId,3)" [style.color]="this.posts.celebrateByUser ? '#673ab7' : 'rgba(0,0,0,0.5)'" ><span class="material-icons" color="primary" style="padding-bottom:5px;">celebration</span>{{this.posts.totCelebration}}</button>


      </mat-card-footer>

    </mat-card>
      </div>
</div>
