

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:75%;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

.blog-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  padding: 16px;
  margin-bottom:20px;max-width: 750px;

}
.icons{
border:none;background-color:white; color:#673ab7;


}



.blog-card:hover {
  transform: scale(1.02);
}


mat-card-header {
  display: flex;
  align-items: center;
  background-color: white;
  padding:10px;

}

mat-card-footer {
  display: flex;
  align-items: center;
  background-color: white;
  padding:10px;
   margin-top: 8px;
}

.spacer{
  flex: 1 1 auto;
}

mat-icon {
  margin-right: 8px;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  padding-left:13px;
}


.blog-content {
  margin-top: 8px;

  color: #555;
}

