
<mat-drawer-container class="example-container" style="height:90%;">
  <mat-drawer color="primary" mode="side"  #drawer opened class="side-nav" >

    <button class="btn-min-width-margin " color="basic" mat-button routerLink="/feed"  routerLinkActive="active-link"><mat-icon>home</mat-icon>Feed</button>


    <button class="btn-min-width-margin " color="basic" mat-button routerLink="/myprofile"  routerLinkActive="active-link">	<mat-icon>style</mat-icon>My Posts</button>


    <button class="btn-min-width-margin" style="text-align:left;" color="basic"  mat-button routerLink="/userdetails"  routerLinkActive="active-link"><mat-icon>person</mat-icon>Profile</button>


    <button class="btn-min-width-margin username" color="basic"  mat-button (click)="logoutUser()"  routerLinkActive="active-link"><mat-icon>logout</mat-icon>Logout</button>


  </mat-drawer>

  <mat-drawer-content class="content" >
    <router-outlet>
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
